* {
    margin: 0;
    padding: 0;
}

.slider {
    width: 604px;
    height: 624px;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid black;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btns {
    position: absolute;
    bottom: 17px;
    left: 80%;
    display: flex;
}

.btn {
    width: 15px;
    height: 15px;
    margin: 6px;
    cursor: pointer;
    background-color: teal;
    border-radius: 25px;
    transition: all .4s linear;
    /* opacity: 0.5; */
    margin-top: 590px;
    position: absolute;
}